
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="alert alert-danger">kategori sayısı=@ViewBag.categoryCount</div>
<div class="alert alert-warning">proje sayısı=@ViewBag.projejctCount</div>
<div class="alert alert-success">yetenek sayısı=@ViewBag.skillsCount</div>
<div class="alert alert-dark">Ortalama yetenek puanı=@ViewBag.skillAvgValue</div>
<div class="alert alert-primary">Son Eklenen Yetenek = @ViewBag.lastSkillTitleName</div>
<div class="alert alert-info">Asp .Net MVC proje sayısı = @ViewBag.mvcCategoryProjectCount</div>