@{
    ViewBag.Title = "CreateAdress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Add New Address</h3>
<form method="post">
    <label>Address</label>
    <input type="text" class="form-control" name="Adress" />

    <label>Phone Number</label>
    <input type="text" class="form-control" name="Phone" />

    <label>Email</label>
    <input type="text" class="form-control" name="Email" />

    <label>Website</label>
    <input type="text" class="form-control" name="Website" />

    <br /><br />
    <button class="btn btn-info">Add New Address</button>
</form>
