
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Add new Service</h3>
<form method="post">
    <label>Title</label>
    <input type="text" class="form-control" name="Title" />

    <label>Description</label>
    <input type="text" class="form-control" name="Description" />

    <label>IconUrl</label>
    <input type="text" class="form-control" name="IconUrl" />

    <br /><br />
          <button class="btn btn-info">Add new Service</button>
</form>

