@model AcunMedyaAkademiPortfolio.Models.TblService 
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Service</h2>

<form method="post">
    <label>Servisce ID</label>
    <input type="text" class="form-control" name="ProfileId" value="@Model.ServiceId" />
    <label>Title</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" value="@Model.Description" />
    <label>IconUrl</label>
    <input type="text" class="form-control" name="IconUrl" value="@Model.IconUrl" />
    <br />
    <button class="btn btn-info">Update Service</button>
</form>