﻿
<nav id="sidebar" class="active">
    <h1><a href="index.html" class="logo">Z</a></h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home"></span> Anasayfa</a>
        </li>
        <li>
            <a href="/About/Index"><span><i class="fa-solid fa-user"></i></span>About</a>
        </li>
        <li>
            <a href="/Category/Index"><span><i class="fa-solid fa-list"></i></span> Categories</a>
        </li>
        <li>
            <a href="/Project/Index"><span><i class="fa-solid fa-sheet-plastic"></i></span> Projects</a>
        </li>
        <li>
            <a href="/Service/Index"><span> <i class="fa-solid fa-bell-concierge"></i> </span> Services</a>
        </li>
        <li>
            <a href="/Testimonial/Index"><span><i class="fa-solid fa-users-line"></i></span> Testimonials</a>
        </li>
        <li>
            <a href="/Banner/Index"><span> <i class="fa-solid fa-wallet"></i> </span> Banners </a>
        </li>
        <li>
            <a href="/Profile/Index"><span> <i class="fa-regular fa-id-badge"></i> </span> Profile</a>
        </li>
        <li>
            <a href="/Adress/Index"><span> <i class="fa-solid fa-map-pin"></i> </span> Adress</a>
        </li>
        <li>
            <a href="/Contact/Index"><span> <i class="fa-solid fa-comment"></i>  </span> Contact</a>
        </li>
        <li>
            <a href="/SocialMedia/Index"><span><i class="fa-solid fa-hashtag"></i> </span> Social Media</a>
        </li>
        <li>
            <a href="/Hobby/Index"><span><i class="fa-solid fa-icons"></i> </span> Hobbies</a>
        </li>
        <li>
            <a href="/Skills/Index"><span><i class="fa-solid fa-crown"></i> </span> Skills</a>
        </li>
    </ul>

    <div class="footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır|
        </p>
    </div>
</nav>
