@Model List <using AcunMedyaAkademiPortfolio.Models.TblSocialMedia>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }
    <h2>Social Media</h2>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Social Media Name</th>
            <th>Social Media Icon</th>
            <th>Social Media Url</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SocialMedia_ID</td>
                <td>@item.SocialMediaName</td>
                <td align="center">
                    <img src="@item.SocialMediaIcon" style="width:50px" />
                </td>
                <td>@item.SocialMediaUrl</td>
                <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMedia_ID" class="btn btn-warning">Update</a></td>
                <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMedia_ID" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
    <td><a href="/SocialMedia/CreateSocialMedia/" class="btn btn-success">Add New Social Media </a></td>

