
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Add New Skill</h2>

<form method="post">
    <label>Title</label>
    <input type="text" class="form-control" name="Title"/>
    <label>Value</label>
    <input type="text" class="form-control"name="Value" />
    <label>Last Week Value</label>
    <input type="text" class="form-control" name="LastWeekValue" />
    <label>Last Month Value</label>
    <input type="text" class="form-control" name="LastMonthValue" />
    <br />
    <button class="btn btn-info">Add New Skill</button>
</form>

