
@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Add New Profile</h3>
<form method="post">
    <label>Name</label>
    <input type="text" class="form-control" name="Name" />

    <label>Birthday</label>
    <input type="text" class="form-control" name="Birthday" />

    <label>Address</label>
    <input type="text" class="form-control" name="Adress" />

    <label>Email</label>
    <input type="text" class="form-control" name="Email" />

    <label>PhoneNumber</label>
    <input type="text" class="form-control" name="PhoneNumber" />

    <br /><br />
          <button class="btn btn-info">Add New Profile</button>
</form>