
@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Profil Ekleme</h3>
<form method="post">
    <label>İsim</label>
    <input type="text" class="form-control" name="Name" />

    <label>Doğum Tarihi</label>
    <input type="text" class="form-control" name="Birthday" />

    <label>Adres</label>
    <input type="text" class="form-control" name="Adress" />

    <label>Email</label>
    <input type="text" class="form-control" name="Email" />

    <label>Telefon Numarası</label>
    <input type="text" class="form-control" name="PhoneNumber" />

    <br /><br />
    <button class="btn btn-info">Profili Kaydet</button>
</form>