@{
    ViewBag.Title = "CreateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Add new Banner</h2>

<form method="post">
    <label>Title</label>
    <input type="text" class="form-control" name="Title" />

    <label>Description</label>
    <input type="text" class="form-control" name="Description" />

    <label>Banner Image</label>
    <input type="text" class="form-control" name="ImageUrl" />

    <br /><br />
    <button class="btn btn-info">Add New Banner</button>
</form>
