@model AcunMedyaAkademiPortfolio.Models.TblBanner
@{
    ViewBag.Title = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Afiş Düzenleme</h2>

<form method="post">
    <label>Başlık Id'si'</label>
    <input type="text" class="form-control" name="AboutId" value="@Model.BannerId" />
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" value="@Model.Description" />
    <label>Resim</label>
    <input type="text" class="form-control" name="ImageUrl" value="@Model.ImageUrl" />
    <button class="btn btn-info">Afiş Güncelle</button>
</form>
