@model AcunMedyaAkademiPortfolio.Models.TblBanner
@{
    ViewBag.Title = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Banner</h2> 

<form method="post">
    <label>Banner ID</label>
    <input type="text" class="form-control" name="BannerId" value="@Model.BannerId" />
    <label>Title</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" value="@Model.Description" />
    <label>Banner Image</label>
    <input type="text" class="form-control" name="ImageUrl" value="@Model.ImageUrl" />

    <button class="btn btn-info">Update Banner</button>
</form>
