
@{
    ViewBag.Title = "CreateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Add New Hobby</h3>
<form method="post">
    <label>Titile</label>
    <input type="text" class="form-control" name="Title" />

    <label>Icon Url</label>
    <input type="text" class="form-control" name="IconUrl" />

    <br /><br />
          <button class="btn btn-info">Add New Hobby</button>
</form>
