@Model List <using AcunMedyaAkademiPortfolio.Models.TblHobby>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Icon url</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HobbyId</td>
                <td>@item.Title</td>            
                <td align="center">
                    <img src="@item.IconUrl" style="width:150px" />
                </td>
                <td><a href="/Hobby/UpdateHobby/@item.HobbyId" class="btn btn-warning">Update</a></td>
                <td><a href="/Hobby/DeleteHobby/@item.HobbyId" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
    <td><a href="/Hobby/CreateHobby/" class="btn btn-success">Add New Hobby</a></td>


