@model AcunMedyaAkademiPortfolio.Models.TblHobby
@{
    ViewBag.Title = "UpdateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>Update Hobby</h2>

<form method="post">
    <label>Hobby ID</label>
    <input type="text" class="form-control" name="HobbyId" value="@Model.HobbyId" />
    <label>Title</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />
    <label>Icon Url</label>
    <input type="text" class="form-control" name="IconUrl" value="@Model.IconUrl" />
    <br />
    <button class="btn btn-info">Update Hobby</button>
</form>