@model AcunMedyaAkademiPortfolio.Models.TblHobby
@{
    ViewBag.Title = "UpdateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>Update Hobby</h2>

<form method="post">
    <label>Hobi ID</label>
    <input type="text" class="form-control" name="FeatureId" value="@Model.HobbyId" />
    <label>Başlık</label>
    <input type="text" class="form-control" name="FeatureTitle" value="@Model.Title" />
    <label>Icon Url</label>
    <input type="text" class="form-control" name="FeatureSubtitle" value="@Model.IconUrl" />
    <br />
    <button class="btn btn-info">Update Hobby</button>
</form>