
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <label>Project Name</label>
    <input type="text" class="form-control" name="ProjectName" />

    <label>Project Image</label>
    <input type="text" class="form-control" name="ProjectImageUrl" />

    <label>Category</label>
    <input type="text" class="form-control" name="ProjectCategory" />

    <br /><br />
    <button class="btn btn-info">Create Project</button>
</form>

