@Model List<using AcunMedyaAkademiPortfolio.Models.TblProject>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }

    <h2>My Projects</h2>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Project Image</th>
            <th>Category</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectId</td>
                <td>@item.ProjectName</td>
                <td>@item.ProjectImageUrl</td>
                <td>@item.ProjectCategory</td>
                <td><a href="/Project/UpdateProject/@item.ProjectId" class="btn btn-warning"> Güncelle</a></td>
                <td><a href="/Project/DeleteProject/@item.ProjectId" class="btn btn-danger"> Sil</a></td>
            </tr>
        }

    </table>

    <td><a href="/Project/CreateProject/" class="btn btn-success">Create New Project</a></td>
