﻿@model List<AcunMedyaAkademiPortfolio.Models.TblAdress>

<div class="block-23 mb-3">
    <ul>
        @foreach (var item in Model)
        {
            <li><span class="icon fa fa-map marker"></span><span class="text">@item.Adress</span></li>
            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">@item.Phone</span></a></li>
            <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">@item.Email</span></a></li>
        }
    </ul>
</div>