﻿@model List<AcunMedyaAkademiPortfolio.Models.TblContact>

<div class="col-md-8">
    <form action="#contact-section" method="post" class="bg-light p-4 p-md-5 contact-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name" name=Name>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" name=Email>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Subject" name=Subject>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <textarea id="" cols="30" rows="7" class="form-control" placeholder="Message" name="Description"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                </div>
            </div>
        </div>
    </form>

</div>
