﻿@model List<AcunMedyaAkademiPortfolio.Models.TblService>
<div class="col-md">

    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Services</h2>
        <ul class="list-unstyled">
            @foreach (var item in Model)
            {
                <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>@item.Title</a></li>
            }
        </ul>
    </div>
</div>
