<section class="ftco-counter img bg-light" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-suitcase"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="@ViewBag.SkillCount">@ViewBag.SkillCount</strong>
                        <span>Project Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-loyalty"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="568">0</strong>
                        <span>Happy Clients</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-coffee"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="478">0</strong>
                        <span>Cups of coffee</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-calendar"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="780">0</strong>
                        <span>Years experienced</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
