﻿@model List<AcunMedyaAkademiPortfolio.Models.TblAbout>

@foreach(var item in Model)
{ 
<span class="subheading">My Intro</span>
<h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">@item.Title</h2>
<p>@item.Description</p>

}