@Model List<using AcunMedyaAkademiPortfolio.Models.TblCategory>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }

    <h2>Category</h2>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-warning"> Güncelle</a></td>
                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger"> Sil</a></td>
            </tr>
        }

    </table>

    <td><a href="/Category/CreateCategory/" class="btn btn-success">Add New Category</a></td>

