
@{
    Layout = null;
}

<h3>Merhaba Dünya</h3>
<h4>Portfolio</h4>
<div style="background-color:aqua">bu bir divdir</div>
<br />
<div style="background-color:red">bu 2. divdir</div>
<hr />
<a href="http://www.google.com">Google git</a>