@model AcunMedyaAkademiPortfolio.Models.TblCategory
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Category</h2>

<form method="post">

    <label>Category ID</label>
    <input type="text" class="form-control" name="AboutId" value="@Model.CategoryId" />

    <label>Category Name</label>
    <input type="text" class="form-control" name="Title" value="@Model.CategoryName" />

   
    <button class="btn btn-info">Update Category</button>
</form>

