
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3> Add New Feature </h3>
<form method="post">
    <label>Title</label>
    <input type="text" class="form-control" name="FeatureTitle" />

    <label>Subtitle</label>
    <input type="text" class="form-control" name="FeatureSubtitle" />

    <label>Image</label>
    <input type="text" class="form-control" name="FeatureImageUrl" />

    <br /><br />
          <button class="btn btn-info">Add New Feature</button>
</form>