
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Özellik Girişi</h3>
<form method="post">
    <label>Başlık</label>
    <input type="text" class="form-control" name="FeatureTitle" />

    <label>Alt Başlık</label>
    <input type="text" class="form-control" name="FeatureSubtitle" />

    <label>Resim</label>
    <input type="text" class="form-control" name="FeatureImageUrl" />

    <br /><br />
    <button class="btn btn-info">Özelliği Kaydet</button>
</form>