@model AcunMedyaAkademiPortfolio.Models.TblFeature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2>Update Feature</h2>

<form method="post">
    <label>Feature ID</label>
    <input type="text" class="form-control" name="FeatureId" value="@Model.FeatureId" />
    <label>Title</label>
    <input type="text" class="form-control" name="FeatureTitle" value="@Model.FeatureTitle" />
    <label>Subtitle</label>
    <input type="text" class="form-control" name="FeatureSubtitle" value="@Model.FeatureSubtitle" />
    <label>Image</label>
    <input type="text" class="form-control" name="FeatureImageUrl" value="@Model.FeatureImageUrl" />
    <button class="btn btn-info">Update Feature</button>
</form>