
@{
    Layout = null;
}

<div style="background-color:yellow; margin-left:100px;margin-right:100px">
    <h3>Mesaj Gönderme Sayfası</h3>
    <label>Adınız Soyadınız</label>
    <input type="text" />
    <br />
    <label>Mail</label>
    <input type="text" />
    <br />
    <label>Konu</label>
    <input type="text" />
    <br />
    <label>Mesajınız</label>
    <textarea rows="12"></textarea>
    <br />
</div>
