
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class=" container">
     <h3>Mesaj Gönderme Sayfası</h3>
    <label>Adınız Soyadınız</label>
    <input type="text" class="form-control" />
    <br />
    <label>Mail</label>
    <input type="text" class="form-control"/>
    <br />
    <label>Konu</label>
    <input type="text" class="form-control"/>
    <br />
    <label>Mesajınız</label>
    <textarea rows="12"class="form-control"></textarea>
    <br />
</div>
