@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Add New About</h3>
<form method="post">
    <label>About Name</label>
    <input type="text" class="form-control" name="Title" />

    <label>About Description</label>
    <input type="text" class="form-control" name="Description" />

    <label>About Image</label>
    <input type="text" class="form-control" name="ImageUrl" />

    <br /><br />
          <button class="btn btn-info">Add New About</button>
</form>
