@Model List<using AcunMedyaAkademiPortfolio.Models.TblAbout>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AboutId</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td align="center">
                    <img src="@item.ImageUrl" style="width:150px" />
                </td>
                <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-warning"> Update</a></td>
                <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-danger"> Delete</a></td>
            </tr>
        }

    </table>

    <td><a href="/About/CreateAbout"class="btn btn-success">Add New About</a></td>