@model AcunMedyaAkademiPortfolio.Models.TblTestimonial
@{
    ViewBag.Title = "CreateTestimoial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Add New Testimonial</h2>
<form method="post">
    <label>Testimonial Name</label>
    @Html.TextBoxFor(x => x.TestimonialName, new { @class = "form-control" })
    <br />
    <label>Testimonials Profession</label>
    @Html.TextBoxFor(x => x.TestimonialTitle, new { @class = "form-control" })
    <br />
    <label>Description </label>
    @Html.TextBoxFor(x => x.TestimonialDescription, new { @class = "form-control" })
    <br />
    <label>Image</label>
    @Html.TextBoxFor(x => x.TestimonialImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Add New Testimonial</button>
</form>
