@Model List<using AcunMedyaAkademiPortfolio.Models.TblTestimonial>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }
    <h2>Testimonial</h2>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Profession</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TestimonialId</td>
                <td>@item.TestimonialName</td>
                <td>@item.TestimonialTitle</td>
                <td>@item.TestimonialDescription</td>
                <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-warning"> Update</a></td>
                <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger"> Delete</a></td>
            </tr>
        }

    </table>

    <td><a class="btn btn-success">Add New Testimonial</a></td>

